DTLS 1.3 Encrypted Sequence Numbers

In DTLS 1.3 the DTLSCiphertext structure contains encrypted sequence numbers, see [RFC9147 Section 4.2.3](https://datatracker.ietf.org/doc/html/rfc9147#section-4.2.3)

This is blocked by #736 and #777. 

closed by #904 there are some nits but i'll do them in small PRs.