DTLS 1.3 Signature algorithms update

DTLS 1.3 updates the `signature_algorithms` and `signature_algorithms_cert` extensions, which is used to indicate which signature algorithms may be used in digital signatures. This update is defined in [RFC 8446 section 4.2.3](https://www.rfc-editor.org/rfc/rfc8446#section-4.2.3). Additionally, mandatory-to-implement digital signatures are defined in [RFC 8446 section 9.1](https://www.rfc-editor.org/rfc/rfc8446#section-9.1).
