It is prohibited to include the renegotiation_info extension in ServerHello if Renegotiation Indication Extension is not supported by client

<!--
  Come join our community on Slack https://pion.ly/slack for quicker support and more resources

  FAQ of common issues and questions https://github.com/pion/webrtc/wiki/FAQ

  Free book that covers general WebRTC https://webrtcforthecurious.com/

  Please answer these questions before submitting your issue. Thanks!
-->

### Your environment.
  - Version: *3.0.4*
  - Browser: *We are using the embedded WolfSSL 5.6.0 on the Sequans GM02SP on Walter (https://www.quickspot.io)*
  - Other Information: We use pion/dtls as the encryption for a CoAP server for our cellular devices.

### What did you do?
We are running a pion/dtls server and connect through cellular with the stack on the modem, which is WolfSSL 5.6.0. The WolfSSL stack aborts the handshake in flight4.

### What did you expect?

I expected the handshake to work. 

### What happened?

After a lot of digging with Wireshark packet traces we have found and validated the issue. In the ClientHello message from the embedded devices there is no `renegotiation_info` extension and also no `TLS_EMPTY_RENEGOTIATION_INFO_SCSV` Signaling Cipher Suite Value:

![image](https://github.com/user-attachments/assets/e78188ca-5b8a-4794-b462-b447d8582ab7)

In reply to the above ClientHello the pion/dtls library sends a ServerHello with an empty `renegotiation_info` extension. 

![image](https://github.com/user-attachments/assets/2f4e20ca-250a-4295-9a08-c8af7c505cf7)

RFC5746 section 3.6 states the following:

 > If neither the TLS_EMPTY_RENEGOTIATION_INFO_SCSV SCSV nor the
 > "renegotiation_info" extension was included, set the
 > secure_renegotiation flag to FALSE.  In this case, some servers
 > may want to terminate the handshake instead of continuing; see
 > [Section 4.3](https://datatracker.ietf.org/doc/html/rfc5746#section-4.3) for discussion.

 > o  If the secure_renegotiation flag is set to TRUE, the server MUST
 > include an empty "renegotiation_info" extension in the ServerHello
 > message.

RFC5246 section 7.4.1.4 states the following:

> An extension type MUST NOT appear in the ServerHello unless the same
> extension type appeared in the corresponding ClientHello.  If a
> client receives an extension type in ServerHello that it did not
> request in the associated ClientHello, it MUST abort the handshake
> with an unsupported_extension fatal alert.

RFC5746 section 4.2 states the following:

 > When the ServerHello is received, the client MUST verify that it does
 > not contain the "renegotiation_info" extension.  If it does, the
 > client MUST abort the handshake.  (Because the server has already
 > indicated it does not support secure renegotiation, the only way that
 > this can happen is if the server is broken or there is an attack.)

When I read through merge request #314 I can see that the initial implementation from 16 February 2021 was correct and followed the RFC. But for some reason this was changed a day later to not follow the RFC an always return a `renegotiation_info` in the ServerHello. 

My request would be to rollback commit 9890736 as this breaks clients that follow the RFC spec. 




Sorry about the bug @daanpape !

If we revert is https://github.com/pion/dtls/pull/314#issuecomment-779121176 still a problem?

It sounds like we were NEVER sending it? Or did I misunderstand the issue. I am 100% with reverting it, I don't want to break the reported issue in the thread though.

Hi @Sean-Der, no sorry required :D, a big thank you for this piece of software. 

In the issue #314 you were indeed never sending it at first. The first applied fix was correct, i.e. sending the `renegotiation_info` if it is in the ClientHello. But in commit 9890736 this was changed to always return it, which is out of spec. 

Ok great! Mind opening a revert PR?

I am able to merge+tag in GitHub UI. Computer I am on currently don't ssh key/access to this repo.

I can do it tonight though!

Sorry for the long pause from my side. I have now created a pull request which reverts the changes but still aligns to master. All tests are working perfectly on my side. 

Has there been any updates on this topic? I am trying to use SIPSorcery to interop with PION and having issues with DTLS key sync.

@MikeRavenelle please try https://github.com/pion/dtls/releases/tag/v3.0.7 sorry we lost track of this!