DTLS 1.3 record layer encoding

This issue aims to implement [RFC9147 section 4](https://datatracker.ietf.org/doc/html/rfc9147#name-the-dtls-record-layer).

Hey @theodorsm , is this actively being worked on? Otherwise I'm happy to take it. Or else, can you point me to anything needing attention / assignee? cc:// @JoTurk 

Suggestion for a the new `RecordLayer13` interface:

```
type RecordLayer13 struct { 
    // DTLSPlaintext, epoch 0.                                                                
    Header  Header                                                                                                                                                                          
    Content protocol.Content                  
    
    // DTLSCiphertext, epoch > 0. The encrypted form of the serialized DTLSInnerPlaintext structure. 
    Ciphertext *CiphertextRecord 
}               
                                                                                            
type CiphertextRecord struct {                                                              
    Header          UnifiedHeader                                                           
    EncryptedRecord []byte
} 
```

This breaks our `CipherSuite` interface and current packet handling (sending and receiving), but we want to more explicitly handle the DTLS 1.3 path, so this might be a good thing. 

@JoTurk what do you think?

@theodorsm I agree with breaking the API. but wouldn't this struct hard to handle because of the dual state? what if we make an interface RecordLayer13 with Marsha, Unmarshal and header, and two structs (PlaintextRecord and CiphertextRecord) both implements the interface?

```go
type RecordLayer13 interface {
    Marshal() ([]byte, error)
    Unmarshal([]byte) error
    Header() HeaderLike
}

type PlaintextRecord13 struct {
    Header  Header
    Content protocol.Content
}

type CiphertextRecord13 struct {
    Header          UnifiedHeader
    EncryptedRecord []byte
}
```
// cc @adrianosela 

@theodorsm sorry I didn't see that you both agree with the interface, are you still working on this, I have a simple poc that I can push, but if you're working on this I'll just do other stuff, I'm reviewing the your prs rn too.

@JoTurk, no worries. I haven't worked on an implementation. So you can push your poc:) 

I'll close this even tho ack and CID aren't finished, but since they have their own issues. they are out of the scope of this issue.