DTLS 1.3: Cookie extension

Tracking the progress of the cookie extension for DTLS 1.3 defined in s[ection 4.2.2 of RFC 8446](https://www.rfc-editor.org/rfc/rfc8446#section-4.2.2). 

According to [RFC 9147 section 5.1:](https://www.rfc-editor.org/rfc/rfc9147.html#section-5.1)
> The "cookie" extension is defined in [Section 4.2.2](https://www.rfc-editor.org/rfc/rfc8446#section-4.2.2) of [[TLS13](https://www.rfc-editor.org/rfc/rfc9147.html#RFC8446)].